.call-participant-tile .lk-focus-toggle-button,
.call-participant-tile .lk-participant-metadata-item {
  background-color: rgb(255 255 255 / 85%);
  color: var(--foreground);
}

.call-grid-layout {
  grid-template-rows: repeat(var(--lk-row-count), minmax(0, 1fr));
}

.dark .call-participant-tile .lk-focus-toggle-button,
.dark .call-participant-tile .lk-participant-metadata-item {
  background-color: rgb(0 0 0 / 60%);
  color: white;
}
