HOST=localhost
SERVER_PORT=3100
CLIENT_PORT=3000
AUTH_TOKEN_SECRET=replace-me

# Database
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=postgres
DB_HOST=localhost
DB_PORT=5432
DB_MIGRATIONS=false

# LiveKit
LIVEKIT_HOST=localhost
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret
LIVEKIT_PORT=7880
LIVEKIT_RTC_TCP_PORT=7881
LIVEKIT_RTC_UDP_PORT=7882

# Uncomment to include LiveKit container in Docker Compose
# COMPOSE_PROFILES=livekit
